black>=26.3.1
pydriller>=2.6
tree-sitter>=0.21.0
tree-sitter-python>=0.21.0
tree-sitter-java>=0.21.0
tree-sitter-javascript>=0.21.0
tree-sitter-typescript>=0.21.0
tree-sitter-go>=0.21.0
tree-sitter-csharp>=0.21.0
requests>=2.31.0
python-dotenv>=1.0.0
tqdm>=4.66.0
pandas>=2.0.0
gitpython>=3.1.40
seaborn>=0.12.2
matplotlib>=3.10.8
